### Create Artist's Birth Place Map over time ###

In [20]:
# import of the libraries
# !pip install mapclassify
# !pip install folium

In [21]:
import pandas as pd
import re

artist_csv = "../output_csv/bremen_data_v5_merge_artist.csv"

df_artist = pd.read_csv(artist_csv)
df_artist.head(10)

,artistGNDId,artistName (preferred),placeOfBirth,birth year,num_works,birth_year_span_start
0,100076262,"Caylus, Anne Claude Philippe de",Paris,1692.0,24,1650.0
1,100104401,"Dequevauviller, François",Abbeville,1745.0,1,1700.0
2,100648916,"Collas, Achille",Paris,1795.0,3,1750.0
3,100786294,"Porret, Henri Désiré",Lille,1800.0,6,1800.0
4,100811833,"Kraus, Johann Ulrich",Augsburg,1655.0,48,1650.0
5,100811957,Anonym,Haarlem,1537.0,1,1500.0
6,100811957,"Anonym, niederländisch, 16. Jahrhundert",Haarlem,1501.0,17,1500.0
7,100811957,"Cleve III., Hendrik van",Haarlem,1525.0,2,1500.0
8,100811957,"Galle, Philippe",Haarlem,1537.0,56,1500.0
9,1011377616,"Loutrel, Victor Jean Baptiste",Antwerpen,1821.0,1,1800.0

In [22]:
total_num = df_artist.shape[0]
count_anonym = df_artist[df_artist['artistName (preferred)'].str.contains("Anonym", na=False)].shape[0]

print(f"Total number of artists in Bremen dataset: {total_num}")
print(f"Number of anonymous artists: {count_anonym} which is {count_anonym/total_num*100}%")

Total number of artists in Bremen dataset: 1402
Number of anonymous artists: 230 which is 16.405135520684734%

In [25]:
(df_artist["placeOfBirth"].isna() | (df_artist["placeOfBirth"] == "")).sum()

np.int64(0)

### Convert birth place to longitude and latitude ###

In [26]:
# pip install pandas geopy
# !pip install shapely

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from shapely.geometry import Point
import pandas as pd
import numpy as np

# Set up geocoder
geolocator = Nominatim(user_agent="geoapi")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Prepare latitude and longitude columns


len(df_artist["placeOfBirth"].unique())

402

In [31]:
city_locations_dict = {}

# Loop through each place and get coordinates
for place in df_artist["placeOfBirth"].unique():
    try:
        location = geocode(place)

        if location:
            city_locations_dict[place] = {"latitude": location.latitude, "longitude": location.longitude}
    except Exception as e:
        print(f"Error with place '{place}': {e}")

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Málaga',), **{}).
Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 536, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connection.py", line 507, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 1428, in getresponse
    response.begin()
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 789, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 538, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 369, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 873, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 873, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 843, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\util\retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ma%CC%81laga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ma%CC%81laga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\geocoders\nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ma%CC%81laga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Riga',), **{}).
Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 536, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connection.py", line 507, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 1428, in getresponse
    response.begin()
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\http\client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 789, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 538, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 369, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 873, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 873, in urlopen
    return self.urlopen(
           ^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\connectionpool.py", line 843, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\urllib3\util\retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Riga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\requests\adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Riga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
    ^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\geocoders\nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\geopy\adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Riga&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [33]:
print(city_locations_dict)

{'Paris': {'latitude': 48.8588897, 'longitude': 2.320041}, 'Abbeville': {'latitude': 50.1060835, 'longitude': 1.8337029}, 'Lille': {'latitude': 50.6365654, 'longitude': 3.0635282}, 'Augsburg': {'latitude': 48.3690341, 'longitude': 10.8979522}, 'Haarlem': {'latitude': 52.3837058, 'longitude': 4.6435597}, 'Antwerpen': {'latitude': 51.2211097, 'longitude': 4.3997081}, 'Gorinchem': {'latitude': 51.8296133, 'longitude': 4.9738743}, 'Nantes': {'latitude': 47.2186371, 'longitude': -1.5541362}, 'Tours': {'latitude': 47.3900474, 'longitude': 0.6889268}, 'Prag': {'latitude': 50.0596288, 'longitude': 14.4464593}, 'Wien': {'latitude': 48.2083537, 'longitude': 16.3725042}, 'Caen': {'latitude': 49.1813403, 'longitude': -0.3635615}, 'Rouen': {'latitude': 49.4404591, 'longitude': 1.0939658}, 'Rotterdam': {'latitude': 51.9244424, 'longitude': 4.47775}, 'Maidstone': {'latitude': 51.2748258, 'longitude': 0.5231646}, 'Lodève': {'latitude': 43.73106, 'longitude': 3.31892}, 'Schaffhausen': {'latitude': 47.6960491, 'longitude': 8.634513}, 'Bassano del Grappa': {'latitude': 45.7669109, 'longitude': 11.7343469}, 'Leiden': {'latitude': 52.1594747, 'longitude': 4.4908843}, 'Straßburg': {'latitude': 48.584614, 'longitude': 7.7507127}, 'Edinburgh': {'latitude': 55.9533456, 'longitude': -3.1883749}, 'Köln': {'latitude': 50.938361, 'longitude': 6.959974}, 'Bordeaux': {'latitude': 44.841225, 'longitude': -0.5800364}, 'Mülhausen': {'latitude': 48.8823608, 'longitude': 7.5527146}, 'Zirl': {'latitude': 47.2733773, 'longitude': 11.2422348}, 'Kaufbeuren': {'latitude': 47.8803788, 'longitude': 10.622246}, 'Lannion': {'latitude': 48.7322183, 'longitude': -3.4587994}, 'Vicenza': {'latitude': 45.6348591, 'longitude': 11.4063543}, 'Bad Grönenbach': {'latitude': 47.8777154, 'longitude': 10.2215159}, 'Utrecht': {'latitude': 52.0907006, 'longitude': 5.1215634}, 'Marseille': {'latitude': 43.2961743, 'longitude': 5.3699525}, 'Görlitz': {'latitude': 51.1563185, 'longitude': 14.991018}, 'Nürnberg': {'latitude': 49.453872, 'longitude': 11.077298}, 'Guiscard': {'latitude': 49.6552281, 'longitude': 3.0500624}, 'Groningen': {'latitude': 53.2190652, 'longitude': 6.5680077}, 'Stuttgart': {'latitude': 48.7784485, 'longitude': 9.1800132}, 'Saint-Claude': {'latitude': 46.3874699, 'longitude': 5.8643866}, 'Nürnberg-Reichelsdorf': {'latitude': 49.3821641, 'longitude': 11.0388552}, 'Krasnystaw': {'latitude': 50.9918481, 'longitude': 23.165038}, 'Preßburg': {'latitude': 48.1516988, 'longitude': 17.1093063}, 'Lübeck': {'latitude': 53.866444, 'longitude': 10.684738}, 'Autun': {'latitude': 46.9510313, 'longitude': 4.2989478}, 'Chaumont-Porcien': {'latitude': 49.6497135, 'longitude': 4.2466138}, 'Amsterdam': {'latitude': 52.3730796, 'longitude': 4.8924534}, 'Perpignan': {'latitude': 42.6985304, 'longitude': 2.8953121}, 'Meißen': {'latitude': 51.1630871, 'longitude': 13.4704939}, 'Vosnon': {'latitude': 48.109672, 'longitude': 3.8432751}, 'Lyon': {'latitude': 45.7578137, 'longitude': 4.8320114}, 'Versailles': {'latitude': 48.8035403, 'longitude': 2.1266886}, 'Middelburg': {'latitude': 51.4996784, 'longitude': 3.6137371}, 'Heusden (Nordbrabant)': {'latitude': 51.6888859, 'longitude': 5.165507}, 'Hamburg': {'latitude': 53.550341, 'longitude': 10.000654}, 'Chaumont (Haute-Marne)': {'latitude': 48.1111324, 'longitude': 5.1395849}, 'Delft': {'latitude': 51.9994572, 'longitude': 4.3627245}, 'Erlach (Kanton Bern)': {'latitude': 47.0433028, 'longitude': 7.0975115}, 'Besançon': {'latitude': 47.2380222, 'longitude': 6.0243622}, 'Ettal': {'latitude': 47.5692548, 'longitude': 11.0939733}, 'Langres': {'latitude': 47.8639612, 'longitude': 5.333947}, 'Plombières': {'latitude': 50.7377318, 'longitude': 5.9611134}, 'Bolsward': {'latitude': 53.0620178, 'longitude': 5.5228964}, 'Heidingsfeld': {'latitude': 49.7643503, 'longitude': 9.9489103}, 'Fürth (Bayern)': {'latitude': 48.5915163, 'longitude': 12.0212216}, 'Rudolstadt': {'latitude': 50.7206063, 'longitude': 11.3401985}, 'Fontainebleau': {'latitude': 48.4049375, 'longitude': 2.7015872}, 'Nizza': {'latitude': 37.992622, 'longitude': 15.4119128}, 'Genf': {'latitude': 46.2017559, 'longitude': 6.1466014}, 'Den Haag': {'latitude': 52.0799838, 'longitude': 4.3113461}, 'Polná': {'latitude': 49.4873383, 'longitude': 15.7188513}, 'La-Ciotat': {'latitude': 43.1758591, 'longitude': 5.6062495}, 'Boulogne-sur-Mer': {'latitude': 50.7259985, 'longitude': 1.6118771}, 'Dresden': {'latitude': 51.0493286, 'longitude': 13.7381437}, 'Orléans': {'latitude': 47.9027336, 'longitude': 1.9086066}, 'Lüttich': {'latitude': 50.6450944, 'longitude': 5.5736112}, 'Neuchâtel': {'latitude': 46.9895828, 'longitude': 6.9292641}, 'Mantua': {'latitude': 45.1692628, 'longitude': 10.6708365}, 'Chézy-sur-Marne': {'latitude': 48.9896, 'longitude': 3.36561}, 'Brüssel': {'latitude': 50.8465573, 'longitude': 4.351697}, 'Dijon': {'latitude': 47.3215806, 'longitude': 5.0414701}, 'Maastricht': {'latitude': 50.8512438, 'longitude': 5.6909768}, 'Toul': {'latitude': 48.6762624, 'longitude': 5.8941759}, 'La Neuveville': {'latitude': 47.0637688, 'longitude': 7.0927997}, 'Rians (Var)': {'latitude': 43.6060171, 'longitude': 5.7570944}, 'Tokio': {'latitude': 35.6768601, 'longitude': 139.7638947}, 'Beaumont-sur-Sarthe': {'latitude': 48.2264796, 'longitude': 0.132823}, 'Lauban': {'latitude': 51.1147105, 'longitude': 15.2811574}, 'Rom': {'latitude': 41.8933203, 'longitude': 12.4829321}, 'Osaka': {'latitude': 34.6937569, 'longitude': 135.5014539}, 'Vermenton': {'latitude': 47.6695323, 'longitude': 3.750286}, 'Grenoble': {'latitude': 45.1875602, 'longitude': 5.7357819}, 'Leeuwarden': {'latitude': 53.2005936, 'longitude': 5.7918548}, 'Blois': {'latitude': 47.5876861, 'longitude': 1.3337639}, 'Barcelona': {'latitude': 41.3825802, 'longitude': 2.177073}, 'Seraing': {'latitude': 50.6152381, 'longitude': 5.5089437}, 'Län Värmland': {'latitude': 59.8907624, 'longitude': 13.2947617}, 'Carpentras': {'latitude': 44.0554043, 'longitude': 5.0487681}, 'Brive-la-Gaillarde': {'latitude': 45.1584982, 'longitude': 1.5332389}, 'Roverè della Luna': {'latitude': 46.2499881, 'longitude': 11.1693479}, 'Altötting': {'latitude': 48.2268085, 'longitude': 12.6757914}, 'Reutlingen': {'latitude': 48.4919508, 'longitude': 9.2114144}, 'Nancy': {'latitude': 48.6937223, 'longitude': 6.1834097}, 'Stollberg/Erzgeb.': {'latitude': 50.7087734, 'longitude': 12.7762607}, 'Kiel': {'latitude': 54.3227085, 'longitude': 10.135555}, 'Altenrath': {'latitude': 50.8573645, 'longitude': 7.1955431}, 'Berlin': {'latitude': 52.510885, 'longitude': 13.3989367}, 'Abcoude': {'latitude': 52.270281, 'longitude': 4.9710427}, 'Valenciennes': {'latitude': 50.3579317, 'longitude': 3.5234846}, 'Kolberg': {'latitude': 54.1759614, 'longitude': 15.5764209}, 'Coburg': {'latitude': 50.2582226, 'longitude': 10.964561}, 'Darmstadt': {'latitude': 49.8851869, 'longitude': 8.6736295}, 'Vevey': {'latitude': 46.4602978, 'longitude': 6.8418655}, 'Lormes': {'latitude': 47.2890627, 'longitude': 3.8182762}, 'Offenburg': {'latitude': 48.4695984, 'longitude': 7.9429235}, 'Altona': {'latitude': 53.5864667, 'longitude': 9.7776709}, 'Flers (Nord)': {'latitude': 50.3978149, 'longitude': 3.0614209}, 'Zirndorf': {'latitude': 49.445762, 'longitude': 10.9560462}, 'Mallemort': {'latitude': 43.7314716, 'longitude': 5.1802855}, 'Belfort': {'latitude': 47.6379599, 'longitude': 6.8628942}, 'Porrentruy': {'latitude': 47.4171297, 'longitude': 7.0761342}, 'München': {'latitude': 48.1371079, 'longitude': 11.5753822}, 'Champsecret': {'latitude': 48.6091562, 'longitude': -0.5516907}, 'Altenburg (Thüringen)': {'latitude': 50.9852411, 'longitude': 12.4340988}, 'Leipzig': {'latitude': 51.3406321, 'longitude': 12.3747329}, 'Saint-Omer (Departement Pas-de-Calais)': {'latitude': 50.6712698, 'longitude': 2.386118}, 'Hameln': {'latitude': 52.1039941, 'longitude': 9.3561569}, 'Quimper': {'latitude': 47.9960325, 'longitude': -4.1024782}, 'Offenbach am Main': {'latitude': 50.1055002, 'longitude': 8.7610698}, 'Aarau': {'latitude': 47.3927146, 'longitude': 8.0444448}, 'Besancon': {'latitude': 47.2380222, 'longitude': 6.0243622}, 'Herserange': {'latitude': 49.5191, 'longitude': 5.79533}, 'Sankt Georgen (Bayreuth)': {'latitude': 49.9509163, 'longitude': 11.5936058}, 'Le Locle': {'latitude': 47.0555907, 'longitude': 6.745454}, 'Toulouse': {'latitude': 43.6044622, 'longitude': 1.4442469}, 'Bernhausen <Fildern>': {'latitude': 48.6728253, 'longitude': 9.2160932}, 'Frankfurt am Main': {'latitude': 50.1106444, 'longitude': 8.6820917}, 'Ottensen': {'latitude': 53.5550658, 'longitude': 9.9198188}, 'Les Andelys': {'latitude': 49.2469193, 'longitude': 1.4215534}, 'Fulda': {'latitude': 50.5542328, 'longitude': 9.6770448}, 'Düsseldorf': {'latitude': 51.2254018, 'longitude': 6.7763137}, 'Paderborn': {'latitude': 51.7177044, 'longitude': 8.752653}, 'Regensburg': {'latitude': 49.0195333, 'longitude': 12.0974869}, 'Zürich': {'latitude': 47.3744489, 'longitude': 8.5410422}, 'Mailand': {'latitude': 45.4641943, 'longitude': 9.1896346}, 'Schwäbisch Gmünd': {'latitude': 48.7999036, 'longitude': 9.7977584}, 'Brighton': {'latitude': 50.8214626, 'longitude': -0.1400561}, 'Fontenay-aux-Roses': {'latitude': 48.7911052, 'longitude': 2.2870373}, 'Argenteuil': {'latitude': 48.9479069, 'longitude': 2.2481797}, 'Bologna': {'latitude': 44.4938203, 'longitude': 11.3426327}, 'Allegheny': {'latitude': 40.4597204, 'longitude': -79.9760405}, 'Wipfeld': {'latitude': 49.9210878, 'longitude': 10.1742316}, 'Witebsk': {'latitude': 55.1930197, 'longitude': 30.2070437}, 'Danzig': {'latitude': 54.3482907, 'longitude': 18.6540233}, 'Tapiau': {'latitude': 54.6478265, 'longitude': 21.0719431}, 'Ornans': {'latitude': 47.0947242, 'longitude': 6.1517463}, 'Kronach': {'latitude': 50.2397846, 'longitude': 11.3277669}, 'Wittenberg': {'latitude': 51.8666527, 'longitude': 12.646761}, 'Chatou': {'latitude': 48.8897044, 'longitude': 2.1573695}, 'Pfullendorf': {'latitude': 47.924349, 'longitude': 9.2559822}, 'Thurgau': {'latitude': 47.5859649, 'longitude': 9.1428769}, 'Bracht (Brüggen, Kreis Viersen)': {'latitude': 51.2829005, 'longitude': 6.196774}, 'Fuendetodos': {'latitude': 41.3413479, 'longitude': -0.9594579}, 'Prenzlau': {'latitude': 53.3167, 'longitude': 13.866575}, 'Heemskerk': {'latitude': 52.5104331, 'longitude': 4.6723536}, 'London': {'latitude': 51.5074456, 'longitude': -0.1277653}, 'Edo (Japan)': {'latitude': 53.0183998, 'longitude': -112.8609459}, 'Prag; Prag': {'latitude': 50.0596288, 'longitude': 14.4464593}, 'Feldkirch': {'latitude': 47.8647485, 'longitude': 7.2730686}, 'Montauban': {'latitude': 44.0175835, 'longitude': 1.3549991}, 'Grembergen, Flandern': {'latitude': 51.0540034, 'longitude': 4.1070284}, 'Aschaffenburg': {'latitude': 49.9706701, 'longitude': 9.1384857}, 'Königsberg': {'latitude': 54.710128, 'longitude': 20.5105838}, 'Kulmbach': {'latitude': 50.1008448, 'longitude': 11.4479149}, 'Meschede': {'latitude': 51.3436532, 'longitude': 8.2859257}, 'Padua': {'latitude': 45.4077172, 'longitude': 11.8734455}, 'Le Cateau-Cambrésis': {'latitude': 50.1058353, 'longitude': 3.5417479}, 'Breslau': {'latitude': 51.1263106, 'longitude': 16.9781963}, 'Basel': {'latitude': 47.5581077, 'longitude': 7.5878261}, 'Caprese Michelangelo': {'latitude': 43.6405741, 'longitude': 11.9874471}, 'Troyes': {'latitude': 48.2971626, 'longitude': 4.0746257}, 'Amiens': {'latitude': 49.8941708, 'longitude': 2.2956951}, 'Løten': {'latitude': 60.8652754, 'longitude': 11.3728513}, 'Sevilla': {'latitude': 37.3886303, 'longitude': -5.9953403}, 'Tönning': {'latitude': 54.3188928, 'longitude': 8.9437049}, 'Vidin': {'latitude': 43.9857242, 'longitude': 22.8772194}, 'Arnemuiden': {'latitude': 51.5000009, 'longitude': 3.6762457}, 'Málaga': {'latitude': 36.7213028, 'longitude': -4.4216366}, 'Mogliano Vèneto': {'latitude': 45.5612886, 'longitude': 12.2376973}, 'Charlotte Amalie': {'latitude': 18.3368505, 'longitude': -64.9622349}, 'Urbino': {'latitude': 43.7262608, 'longitude': 12.6363135}, 'Calvenzano': {'latitude': 45.4949814, 'longitude': 9.6012863}, 'Limoges': {'latitude': 45.8354243, 'longitude': 1.2644847}, 'Kaposvár': {'latitude': 46.3564692, 'longitude': 17.7886886}, 'Siegen': {'latitude': 50.8751175, 'longitude': 8.0256131}, 'Colmar': {'latitude': 48.0777517, 'longitude': 7.3579641}, 'Landshut': {'latitude': 48.536217, 'longitude': 12.1516551}, 'Tettenweis': {'latitude': 48.4419267, 'longitude': 13.2703093}, 'Venedig': {'latitude': 45.4371908, 'longitude': 12.3345898}, 'Pieve di Cadore': {'latitude': 46.4287086, 'longitude': 12.3752967}, 'Albi': {'latitude': 43.9277552, 'longitude': 2.147899}, 'Kawagoe': {'latitude': 35.9251145, 'longitude': 139.4856927}, 'Lausanne': {'latitude': 46.5218269, 'longitude': 6.6327025}, 'Arezzo': {'latitude': 43.5171442, 'longitude': 11.7639282}, 'Bremen': {'latitude': 53.0758196, 'longitude': 8.8071646}, 'Cuiseaux': {'latitude': 46.4937782, 'longitude': 5.3887887}, 'Amersfoort': {'latitude': 52.1637702, 'longitude': 5.4088845}, 'Parma': {'latitude': 44.6952006, 'longitude': 10.0979869}, 'Nimes': {'latitude': 43.8374249, 'longitude': 4.3600687}, 'Vercelli': {'latitude': 45.5553826, 'longitude': 8.3462837}, 'Florenz': {'latitude': 43.7697955, 'longitude': 11.2556404}, 'Dordrecht': {'latitude': 51.7689546, 'longitude': 4.6867891}, 'Volterra': {'latitude': 43.400337, 'longitude': 10.860019}, 'Chalon-sur-Saône': {'latitude': 46.7831001, 'longitude': 4.8534326}, 'Oudenaarde': {'latitude': 50.8433705, 'longitude': 3.6041443}, 'Correggio': {'latitude': 44.770561, 'longitude': 10.7797829}, 'Le Havre': {'latitude': 49.4938975, 'longitude': 0.1079732}, 'Heidelberg': {'latitude': 49.4093582, 'longitude': 8.694724}, 'Reims': {'latitude': 49.2577886, 'longitude': 4.031926}, 'Warburg': {'latitude': 51.4886533, 'longitude': 9.1488385}, 'Grasse': {'latitude': 43.6589011, 'longitude': 6.9239103}, 'Birkenfeld (Enzkreis)': {'latitude': 48.8692609, 'longitude': 8.6344824}, 'Neapel': {'latitude': 40.8358846, 'longitude': 14.2487679}, 'Solothurn': {'latitude': 47.31874, 'longitude': 7.6698284}, 'Hanau': {'latitude': 50.132881, 'longitude': 8.9169797}, 'Madrid': {'latitude': 40.4167047, 'longitude': -3.7035825}, 'Markgröningen': {'latitude': 48.9050626, 'longitude': 9.0808114}, 'La Rochelle': {'latitude': 46.159732, 'longitude': -1.1515951}, 'Kalkar (Kreis Kleve)': {'latitude': 51.7388793, 'longitude': 6.2927546}, 'Tournus': {'latitude': 46.5617373, 'longitude': 4.9122425}, 'Banyuls-sur-Mer': {'latitude': 42.4794084, 'longitude': 3.1275893}, 'Bourges': {'latitude': 47.0811658, 'longitude': 2.399125}, 'Ivančice': {'latitude': 49.1015881, 'longitude': 16.3776051}, 'Lubawka': {'latitude': 50.7070882, 'longitude': 16.0003894}, 'Saint-Avertin': {'latitude': 47.3577, 'longitude': 0.739923}, 'Bad Arolsen': {'latitude': 51.3649894, 'longitude': 9.0376388}, 'Otterberg': {'latitude': 49.5008961, 'longitude': 7.7723649}, 'Namur': {'latitude': 50.4665284, 'longitude': 4.8661892}, 'Assendelft': {'latitude': 52.4681109, 'longitude': 4.7449605}, 'Damville': {'latitude': 48.8665594, 'longitude': 1.0893351}, 'Meulebeke': {'latitude': 50.9498382, 'longitude': 3.2888527}, 'Southampton': {'latitude': 50.9025349, 'longitude': -1.404189}, 'Misy-sur-Yonne': {'latitude': 48.35967, 'longitude': 3.0891}, 'Oberursel (Taunus)': {'latitude': 50.2062948, 'longitude': 8.5461079}, 'Honfleur': {'latitude': 49.4197222, 'longitude': 0.2338889}, 'Montargis': {'latitude': 47.9978628, 'longitude': 2.7310072}, 'Rotterdam-Kralingen': {'latitude': 51.922672, 'longitude': 4.5368463}, 'Morges': {'latitude': 46.5093268, 'longitude': 6.498317}, 'Königsberg (Wetzlar)': {'latitude': 50.5615433, 'longitude': 8.5036057}, 'Vlissingen': {'latitude': 51.4480929, 'longitude': 3.5697992}, 'Ferrara': {'latitude': 44.7667642, 'longitude': 11.827939}, 'Le Puy': {'latitude': 44.6619444, 'longitude': 0.0738889}, 'Oostzaan': {'latitude': 52.4387666, 'longitude': 4.8753615}, 'Angers': {'latitude': 47.4739884, 'longitude': -0.5515588}, 'Udine': {'latitude': 46.0634632, 'longitude': 13.2358377}, 'Hammelburg': {'latitude': 50.1152207, 'longitude': 9.8904404}, 'Avignon': {'latitude': 43.9492493, 'longitude': 4.8059012}, 'Les Eplatures': {'latitude': 47.0888126, 'longitude': 6.8045708}, 'Bergamo': {'latitude': 45.7566557, 'longitude': 9.7542192}, 'Cento': {'latitude': 44.7274395, 'longitude': 11.2903029}, 'Göttingen': {'latitude': 51.5328328, 'longitude': 9.9351811}, 'Metz': {'latitude': 49.1196964, 'longitude': 6.1763552}, 'Dronrijp': {'latitude': 53.1939405, 'longitude': 5.6452024}, 'Tournai': {'latitude': 50.6056458, 'longitude': 3.3878179}, 'Dittelsheim': {'latitude': 49.744835, 'longitude': 8.2276238}, 'Menzingen (Baden)': {'latitude': 49.141886, 'longitude': 8.7679186}, 'Hulst': {'latitude': 51.3315936, 'longitude': 4.0877328}, 'Mauritius': {'latitude': -20.2759451, 'longitude': 57.5703566}, 'Città della Pieve': {'latitude': 42.9527338, 'longitude': 12.004326}, 'Moudon': {'latitude': 46.6680664, 'longitude': 6.8003478}, 'Réus, Katalonien': {'latitude': 41.1555564, 'longitude': 1.1076133}, 'Enkhuizen': {'latitude': 52.7036282, 'longitude': 5.2901222}, 'Bern': {'latitude': 46.9484742, 'longitude': 7.4521749}, 'Emden': {'latitude': 53.3670541, 'longitude': 7.2058304}, 'Gouda': {'latitude': 52.0181194, 'longitude': 4.7111221}, 'Vesoul': {'latitude': 47.6197395, 'longitude': 6.1544694}, 'La Bassée': {'latitude': 50.5316305, 'longitude': 2.8046597}, 'Duffel': {'latitude': 51.0957176, 'longitude': 4.5061988}, 'Cluny': {'latitude': 46.4339446, 'longitude': 4.6576358}, 'La Roche-sur-Yon': {'latitude': 46.6705431, 'longitude': -1.4269698}, 'Paris; Paris': {'latitude': 43.64924, 'longitude': -79.4214609}, 'Viadana': {'latitude': 44.9267857, 'longitude': 10.520223}, 'Kesselsdorf': {'latitude': 51.0322245, 'longitude': 13.5942849}, 'Dippoldiswalde': {'latitude': 50.8950479, 'longitude': 13.6633335}, 'Valence (Departement Drôme)': {'latitude': 44.9391385, 'longitude': 4.9399167}, 'Langendorf (Hammelburg)': {'latitude': 50.1244589, 'longitude': 9.9587689}, 'Merseburg': {'latitude': 51.3564413, 'longitude': 11.996148}, 'Šibenik': {'latitude': 43.7340647, 'longitude': 15.8944767}, 'Monthières': {'latitude': 49.9575293, 'longitude': 1.5933991}, 'Mecheln': {'latitude': 51.0281381, 'longitude': 4.4803453}, 'Pfronten': {'latitude': 47.5732762, 'longitude': 10.5320629}, 'Zaltbommel': {'latitude': 51.782164, 'longitude': 5.1898267}, 'Epinal': {'latitude': 48.1747684, 'longitude': 6.4503643}, 'Goyencourt': {'latitude': 49.72579, 'longitude': 2.7640324}, 'Alkmaar': {'latitude': 52.6008538, 'longitude': 4.8170994}, 'Thionville': {'latitude': 49.3579272, 'longitude': 6.1675872}, 'Carrara': {'latitude': 44.0771026, 'longitude': 10.096726}, 'Corbeil-Essonnes': {'latitude': 48.6137734, 'longitude': 2.4818087}, 'Boskowitz': {'latitude': 49.4877983, 'longitude': 16.66016}, 'Thiais': {'latitude': 48.7643664, 'longitude': 2.391024}, 'Prag; Wien': {'latitude': 50.0127187, 'longitude': 14.5462567}, 'Damvillers': {'latitude': 49.3426678, 'longitude': 5.400463}, 'Saint-Jean-de-Losne': {'latitude': 47.102335, 'longitude': 5.2648334}, 'Provinz Nizza': {'latitude': 45.0514359, 'longitude': 7.6746207}, 'Ravenna': {'latitude': 44.3640607, 'longitude': 12.0590095}, 'Sangerhausen': {'latitude': 51.4729797, 'longitude': 11.2981851}, 'Neisse': {'latitude': 51.360001, 'longitude': 14.965716}, 'Sainte-Menehould': {'latitude': 49.0904192, 'longitude': 4.8967637}, 'Vineuil (Loir-et-Cher)': {'latitude': 47.5857995, 'longitude': 1.3892843}, 'Dünkirchen': {'latitude': 51.0347708, 'longitude': 2.3772525}, 'Kastellaun': {'latitude': 50.0713361, 'longitude': 7.4422325}, 'Illzach': {'latitude': 47.7815801, 'longitude': 7.3471832}, 'Abbeville (Somme)': {'latitude': 50.1060835, 'longitude': 1.8337029}, 'Château-Thierry': {'latitude': 49.0457362, 'longitude': 3.4027111}, 'Wiesbaden': {'latitude': 50.0820384, 'longitude': 8.2416556}, 'Loire-sur-Rhône': {'latitude': 45.5597173, 'longitude': 4.8055118}, 'La Sauvagere (Orne)': {'latitude': 48.6141372

In [34]:
df_artist["latitude"] = df_artist["placeOfBirth"].apply(lambda x: city_locations_dict.get(x, {}).get("latitude"))
df_artist["longitude"] = df_artist["placeOfBirth"].apply(lambda x: city_locations_dict.get(x, {}).get("longitude"))

df_artist.head(10)

,artistGNDId,artistName (preferred),placeOfBirth,birth year,num_works,birth_year_span_start,latitude,longitude
0,100076262,"Caylus, Anne Claude Philippe de",Paris,1692.0,24,1650.0,48.858890,2.320041
1,100104401,"Dequevauviller, François",Abbeville,1745.0,1,1700.0,50.106083,1.833703
2,100648916,"Collas, Achille",Paris,1795.0,3,1750.0,48.858890,2.320041
3,100786294,"Porret, Henri Désiré",Lille,1800.0,6,1800.0,50.636565,3.063528
4,100811833,"Kraus, Johann Ulrich",Augsburg,1655.0,48,1650.0,48.369034,10.897952
5,100811957,Anonym,Haarlem,1537.0,1,1500.0,52.383706,4.643560
6,100811957,"Anonym, niederländisch, 16. Jahrhundert",Haarlem,1501.0,17,1500.0,52.383706,4.643560
7,100811957,"Cleve III., Hendrik van",Haarlem,1525.0,2,1500.0,52.383706,4.643560
8,100811957,"Galle, Philippe",Haarlem,1537.0,56,1500.0,52.383706,4.643560
9,1011377616,"Loutrel, Victor Jean Baptiste",Antwerpen,1821.0,1,1800.0,51.221110,4.399708

In [35]:
output_csv = "../output_csv/bremen_data_v5_2_with_coordinate.csv"

df_artist.to_csv(output_csv, index=False, encoding="utf-8")

In [3]:
import folium
import pandas as pd

coordinative_csv = "../output_csv/bremen_data_v5_2_with_coordinate.csv"
df_artist_with_coordinate = pd.read_csv(coordinative_csv) 
df_artist_with_coordinate["birth year"] = df_artist_with_coordinate["birth year"].astype("Int64")
df_artist_with_coordinate["birth_year_span_start"] = df_artist_with_coordinate["birth_year_span_start"].astype("Int64")

df_artist_with_coordinate.head()

,artistGNDId,artistName (preferred),placeOfBirth,birth year,num_works,birth_year_span_start,latitude,longitude
0,100076262,"Caylus, Anne Claude Philippe de",Paris,1692,24,1650,48.858890,2.320041
1,100104401,"Dequevauviller, François",Abbeville,1745,1,1700,50.106083,1.833703
2,100648916,"Collas, Achille",Paris,1795,3,1750,48.858890,2.320041
3,100786294,"Porret, Henri Désiré",Lille,1800,6,1800,50.636565,3.063528
4,100811833,"Kraus, Johann Ulrich",Augsburg,1655,48,1650,48.369034,10.897952

In [4]:
df_artist_with_coordinate["placeOfBirth"].value_counts()

placeOfBirth
Paris                                         278
Nürnberg                                     115
Antwerpen                                      56
Amsterdam                                      40
Augsburg                                       31
                                             ...
Sedan                                           1
Rive-de-Gier                                    1
Vernon <Eure>                                   1
Maidstone                                       1
Toul (Dép.Meurthe-et-Moselle) (od. Metz?)      1
Name: count, Length: 402, dtype: int64

In [5]:
df_artist_with_coordinate["birth_year_span_start"].value_counts()

birth_year_span_start
1800    308
1750    192
1500    189
1700    176
1600    159
1550    119
1850     91
1650     79
1450     68
1400     15
4950      2
1900      2
Name: count, dtype: Int64

Split dataframe to multiple dataframes based on `birth_year_span_start`

In [16]:
grouped_dfs = {
    year: group for year, group in df_artist_with_coordinate.groupby("birth_year_span_start")
}
print(grouped_dfs.keys())
grouped_dfs[1400].head()

dict_keys([np.int64(1400), np.int64(1450), np.int64(1500), np.int64(1550), np.int64(1600), np.int64(1650), np.int64(1700), np.int64(1750), np.int64(1800), np.int64(1850), np.int64(1900), np.int64(4950)])

,artistGNDId,artistName (preferred),placeOfBirth,birth year,num_works,birth_year_span_start,latitude,longitude
35,102359229,"Anonym, deutsch, 15. Jahrhundert",Straßburg,1401,3,1400,48.584614,7.750713
189,1065633092,Zoan Andrea,Mantua,1424,6,1400,45.169263,10.670837
445,11852786X,"Anonym, deutsch, 15. Jahrhundert",Nürnberg,1401,5,1400,49.453872,11.077298
563,118563890,"Anonym, deutsch, 15. Jahrhundert",Nürnberg,1401,5,1400,49.453872,11.077298
578,118577336,"Mantegna, Andrea",Padua,1431,1,1400,45.407717,11.873446

In [21]:
merged_dfs_by_year = {}

for year, group in grouped_dfs.items():
    merged_df = group.groupby("placeOfBirth").agg({
        "artistName (preferred)": lambda x: "; ".join(x.dropna().unique()),
        "placeOfBirth": "count",  # count how many artists per place
        "latitude": "first",
        "longitude": "first"
    }).rename(columns={
        "artistName (preferred)": "artists",
        "placeOfBirth": "artistCount"
    }).reset_index()
    
    merged_dfs_by_year[year] = merged_df

merged_dfs_by_year[1400].head()

,placeOfBirth,artists,artistCount,latitude,longitude
0,Colmar,"Anonym; Anonym, deutsch; Anonym, deutsch, 15. ...",5,48.077752,7.357964
1,Koblenz,"Anonym, französisch, 15. Jahrhundert",1,50.353328,7.594395
2,Mantua,Zoan Andrea,1,45.169263,10.670837
3,Markgröningen,"Anonym, deutsch, 15. Jahrhundert",1,48.905063,9.080811
4,Nürnberg,"Anonym, deutsch, 15. Jahrhundert; Wolgemut, Mi...",3,49.453872,11.077298

In [30]:
# assigns a color on the map marker based on artistCount
def get_color(count):
    if count >= 15:
        return 'darkred'
    elif count >= 10:
        return 'red'
    elif count >= 5:
        return 'orange'
    elif count >= 3:
        return 'lightblue'
    else:
        return 'green'

In [32]:
for year, df in merged_dfs_by_year.items():
    m = folium.Map(location=[50, 10], zoom_start=4)

    for _, row in df.dropna(subset=["latitude", "longitude"]).iterrows():
        folium.CircleMarker(
            location=[row["latitude"], row["longitude"]],
            radius=6,
            popup=folium.Popup(f"<b>Artists:</b> {row['artists']}<br><b>Count:</b> {row['artistCount']}", max_width=300),
            color=get_color(row["artistCount"]),
            fill=True,
            fill_color=get_color(row["artistCount"]),
            fill_opacity=0.8
        ).add_to(m)

    # Save the map for this year
    m.save(f"../output_map/artist_map_{year}.html")